
/* container */

body {
    background-color: rgb(46, 46, 46);
}

.safe {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    /* margin-top: 50px; */
    padding: 50px 0; 
    background-color: #1b1b1b;
    margin:  0 4 00px;
}

.handle-img {
    width: 40%;
    border-radius: 20px;
}

.container { 
    width: 340px; 
    /* margin: 0 auto;  */
    background-color: #202020; 
    overflow: hidden;
    margin-top: 1em; 
    box-shadow: 10px 10px 5px #000000; 
    /* border-radius: 10px; */
    border: 1px solid #1b1b1b; 
    /* padding: 20px; */
}

  input[type="password"] { 
      display: block;
      /* width: 100%; */
      font-size: 3em;
      line-height: 2;
      color: rgb(58, 58, 58);
      background-color: #373737;
      background-image: none;
      border: 0;
      text-align: center;
      cursor: not-allowed;
      /* border-radius: 10px; */
  }

  #keys { 
    overflow: auto; 
    /* border-top: 1px solid rgb(65, 65, 65);  */
    margin-top: 20px;
}

  button {
      font-size: 1.1em;
      margin: 0;
      /* border: 0; */
      background-color: #ed989800; 
      border: 1px solid rgba(255, 255, 255, 0);
      /* border-radius: 30px; */
      /* padding: 5px; */
      /* display: block;
      float: left; */
      width: 100px;
      padding: 1em 0;
      cursor: pointer;
      margin: 5px;
  }
  button:hover, button:active, button:focus {
       background-color: #242424; 
       outline: 0; 
       color: #fff; 
    }
  
  
  
  
    @media only screen and (max-width: 600px) {
        .safe {
          flex-direction: column;
        }
      }