
/* container */

body {
    background-color: #1b1b1b;
}

.safe {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    /* margin-top: 50px; */
    padding: 50px 0; 
    background-color: #1b1b1b;
    margin:  0 4 00px;
}

.handle-img {
    width: 40%;
    border-radius: 20px;
}

.del{
    background-color: rgb(209, 69, 69);
    color:white;
}

.del:hover{
    background-color: rgb(175, 58, 58);
}

.confirm{
    background-color: #BBF91F;
}

.confirm:hover{
    background-color: #8dbd16;
    color: black;
}

.container { 
    width: 340px; 
    /* margin: 0 auto;  */
    background-color: rgb(39, 39, 39); 
    overflow: hidden;
    margin-top: 1em; 
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15); 
    border-radius: 10px;
    border: 1px solid #1b1b1b; 
    padding: 20px;
    margin: 0;
}

  input[type="password"] { 
      display: block;
      width: 100%;
      font-size: 2em;
      line-height: 2;
      color: #555;
      background-color: rgb(184, 228, 236);
      background-image: none;
      border: 0;
      text-align: center;
      cursor:not-allowed;
      border-radius: 10px;
  }

  #keys { 
    overflow: auto; 
    /* border-top: 1px solid rgb(65, 65, 65);  */
    margin-top: 20px;
}

  button {
      font-size: 1.1em;
      margin: 0;
      /* border: 0; */
      background-color: #fff; 
      border: 1px solid black;
      border-radius: 20px;
      /* padding: 5px; */
      /* display: block;
      float: left; */
      width: 100px;
      padding: 15px 0;
      cursor: pointer;
      margin: 5px;
      font-size: 22px;
  }
  button:hover, button:active, button:focus {
       background-color: #b4b4b4; 
       outline: 0; 
       color: black; 
    }
  
  